{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<form action="{{ url_for('auth.login') }}" method="POST" class="form">
    {{ form.username.label }}
    {{ form.username(size=20) }}
    {% if form.username.errors %}
        <span class="error-message">{{ form.username.errors[0] }}</span>
    {% endif %}

    {{ form.password.label }}
    {{ form.password(size=20) }}
    {% if form.password.errors %}
        <span class="error-message">{{ form.password.errors[0] }}</span>
    {% endif %}

    {{ form.csrf_token }}

    {% if error_message %}
        <span class="error-message">{{ error_message }}</span>
    {% endif %}

    <input type="submit" value="Login">
    <a href="{{ url_for('auth.signup') }}">Don't have an account? Signup</a>
</form>
{% endblock %}