{% extends "layout.html" %}

{% block title %} Signup {% endblock %}

{% block content %}
<form action="{{ url_for('auth.signup') }}" method="POST" class="form">
    {{ form.name.label }}
    {{ form.name(size=40) }}
    {% if form.name.errors %}
        <span class="error-message">{{ form.name.errors[0] }}</span>
    {% endif %}

    {{ form.username.label }}
    {{ form.username(size=20) }}
    {% if form.username.errors %}
        <span class="error-message">{{ form.username.errors[0] }}</span>
    {% endif %}

    {{ form.password.label }}
    {{ form.password(size=20) }}
    {% if form.password.errors %}
        <span class="error-message">{{ form.password.errors[0] }}</span>
    {% endif %}

    {{ form.csrf_token }}

    <input type="submit" value="Signup">
    <a href="{{ url_for('auth.login') }}">Already have an account? Login</a>
</form>
{% endblock %}