FLASK_DEBUG=True
CREATE_DATABASE_IF_NOT_FOUND=True
DATABASE_TYPE=sqlalchemy # mongodb
SQLALCHEMY_DATABASE_URI=sqlite:///DATABASE_FILE.db
MONGODB_DATABASE_URI=mongodb+srv://DATABASE_USER:DATABASE_PASSWORD@<DATABASE_HOST>/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DATABASE_NAME=test_db
SECRET_KEY=ENTER_YOUR_SECRET_KEY_HERE
LOGIN_MANAGER_LOGIN_VIEW=auth.login